In [1]:
import pandas as pd
import plotly.express as px
import seaborn as sns
from sklearn.preprocessing import OneHotEncoder,MinMaxScaler,StandardScaler
from sklearn.model_selection import train_test_split
from imblearn.under_sampling import RandomUnderSampler
from imblearn.over_sampling import SMOTE

In [2]:
df=pd.read_csv(r'D:\COURSES\AI\Epsilon Ai\Session 25\Assigment\datasets\loan_data.csv')

In [3]:
df.head()

,credit.policy,purpose,int.rate,installment,log.annual.inc,dti,fico,days.with.cr.line,revol.bal,revol.util,inq.last.6mths,delinq.2yrs,pub.rec,not.fully.paid
0,1,debt_consolidation,0.1189,829.10,11.350407,19.48,737,5639.958333,28854,52.1,0,0,0,0
1,1,credit_card,0.1071,228.22,11.082143,14.29,707,2760.000000,33623,76.7,0,0,0,0
2,1,debt_consolidation,0.1357,366.86,10.373491,11.63,682,4710.000000,3511,25.6,1,0,0,0
3,1,debt_consolidation,0.1008,162.34,11.350407,8.10,712,2699.958333,33667,73.2,1,0,0,0
4,1,credit_card,0.1426,102.92,11.299732,14.97,667,4066.000000,4740,39.5,0,1,0,0

In [4]:
df.drop('purpose',axis=1,inplace=True)

In [5]:
x=df.drop('not.fully.paid',axis=1)
y=df['not.fully.paid']

In [6]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [7]:
sampler=RandomUnderSampler()

In [8]:
x_train,y_train=sampler.fit_resample(x_train,y_train)

In [9]:
y_train.value_counts()

not.fully.paid
0    1223
1    1223
Name: count, dtype: int64

In [10]:
sampler=SMOTE()

In [11]:
x_train,y_train=sampler.fit_resample(x_train,y_train)

In [12]:
y_train.value_counts()

not.fully.paid
0    1223
1    1223
Name: count, dtype: int64

In [13]:
scaler=MinMaxScaler()

In [14]:
scaled_x_train=scaler.fit_transform(x_train)
scaled_x_test=scaler.transform(x_test)

In [15]:
scaler=StandardScaler()
scaled_x_train=scaler.fit_transform(x_train)
scaled_x_test=scaler.transform(x_test)

In [16]:
scaled_x_train

array([[ 0.57892386, -0.41591099, -0.2316724 , ...,  0.81357696,
        -0.31499939, -0.27937256],
       [ 0.57892386, -0.19438161, -0.7633085 , ..., -0.72222026,
        -0.31499939, -0.27937256],
       [ 0.57892386, -1.59740099, -0.07095171, ...,  1.19752627,
        -0.31499939, -0.27937256],
       ...,
       [ 0.57892386,  2.15013761,  0.97191595, ..., -0.33827095,
        -0.31499939, -0.27937256],
       [ 0.57892386,  0.44805358, -0.74378909, ..., -0.72222026,
        -0.31499939, -0.27937256],
       [-1.72734286, -0.50452274, -0.9833328 , ...,  0.42962766,
        -0.31499939, -0.27937256]])

In [17]:
import joblib

In [18]:
joblib.dump(scaler,'scaler.h5')

['scaler.h5']

In [19]:
v=joblib.load('scaler.h5')

In [20]:
v.transform(x_test)

array([[ 0.57892386,  0.51820455,  0.85293606, ...,  0.42962766,
        -0.31499939, -0.27937256],
       [ 0.57892386, -0.41591099,  1.53695401, ..., -0.33827095,
        -0.31499939, -0.27937256],
       [ 0.57892386, -1.2503383 , -1.09243653, ..., -0.72222026,
        -0.31499939, -0.27937256],
       ...,
       [ 0.57892386,  2.37166699, -1.19678852, ..., -0.33827095,
         1.71260197, -0.27937256],
       [-1.72734286,  0.83203783, -0.92561311, ...,  0.81357696,
        -0.31499939, -0.27937256],
       [ 0.57892386, -0.19438161, -0.29791728, ..., -0.72222026,
        -0.31499939, -0.27937256]])